*{
  margin: 0px;
  padding: 0px;
}
header{
  height: 600px;
  width: 100%;
  background: lightsteelblue;
  padding-right:10px;
}

#navbar{
  height:26px;
  width:100%;
  background: gray;
  position: fixed;
  z-index: 4;
}
.gshock{
  color: antiquewhite;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
ul{
  display: flex;
  text-decoration: none;
}
li{
  font-size:0.8rem;
  padding: 0px 4px;
  list-style: none;
  margin: 3px 4px;
}
a{
  text-decoration: none;
  color: antiquewhite;
}

.heading{
  font-size: 44px;
  text-align:center;
  padding-top:60%;
  font-weight: 500;
}
font{
  color:red;
}
.container{
  height:200px;
  width:100%;
  display: flex;
  overflow-x: scroll;
  background: ;
}
#available_stock{
  height:750px;
  width:100%;
  background: ;
  margin:0px 0px;
}
hd{
  color: seashell
}
.img_container{
  margin:10px;
  box-shadow: 1px 1px 5px 3px whitesmoke;
}
.stock{
  text-align: left;
  color:black;
  height:25px;
  width:100%;
  font-size:20px;
  margin-left:10px;
  padding-top: 26px;
  overflow: hidden;
  color: blue;
  font-weight: 500;
}
.stock2{
  padding-top: 10px;
}
.title{
  color:brown;
  font-weight: 400;
  font-size: 17px;
  background: lightblue;
}
#shop{
  height: 600px;
  width:100%;
  background: ;
  margin: 0px 5px 0px 5px;
  position:relative;
}
.shop_container1{
  height:140px;
  width:100%;
  position: absolute;
  top:10px;
  background: honeydew;
  display: flex;
  box-shadow: 1px 1px 10px 4px whitesmoke;
}
.shop_container2{
  height:140px;
  width:100%;
  position: absolute;
  top:170px;
  background: floralwhite;
  display: flex;
  box-shadow: 1px 1px 10px 4px whitesmoke;
}
.shop_container3{
  height:140px;
  width:100%;
  position: absolute;
  top:330px;
  background: antiquewhite;
  display: flex;
  box-shadow: 1px 1px 10px 4px whitesmoke;
}
.shop_container4{
  height:140px;
  width:100%;
  position: absolute;
  top:490px;
  background: aliceblue;
  display: flex;
  box-shadow: 1px 1px 10px 4px whitesmoke;
}
.shop_img_container{
  height:110px;
  width:35%;
  margin:15px 10px;
  background:red;
  transition: scale 1s ease;
}
.shop_container:hover .shop_img_container{
  scale: 1.1;
}
.heading_{
  color:blue;
  font-size:33px;
  font-weight: 500;
  height:60px;
  padding-top: 26px;
  width:100%;
  text-align: center;
  padding-left:10px;
  background: ;
  margin:0px;
}
.shop_data{
  height: 120px;
  width:65%;
  margin:15px 10px;
  padding:0px 10px;
  border-left: 1px solid lightblue;
}
.shop{
  color:black;
}
.brand{
  text-align:left;
  font-size: 1.4rem;
  font-weight: 500;
}
.model{
  text-align: left;
  font-size:1rem;
  margin: 4px 0px;
  font-weight: 400;
}
.rate{
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
}
#clients{
  height:560px;
  width:100%;
  background: ;
  margin:0px 5px 0px 5px;
  padding-top: 26px;
}
.client_container{
  height:170px;
  width:100%;
  background: ;
}
.client{
  text-align: center;
  color: black;
  padding-top:30px;
  font-weight: 500;
}
.cc1{
  height:140px;
  padding:0px;
  background: ;
  border-top:1px solid silver;
  margin-top:20px;
  padding-top:10px;
  display: flex;
}
.cc2,.cc3{
  margin-top: 15px;
  height:140px;
  border: 0px solid yellow;
  background: ;
  display: flex;
}
.c_img_c{
  height:110px;
  width:50%;
  background: whitesmoke;
  margin:15px;
  border-radius:;
  transition: scale 0.5s ease;
}
.cc_img1{
  border-radius: 40px 0px 0px 0px;
}
.cc2_img1, .cc_img1{
  padding: 10px;
  height:90px;
  width:44%;
}
.cc_img2{
  padding:0px 10px;
  width:43%;
  border-radius: 0px 40px 0px 0px;
}

.cc3_img1{
  border-radius: 0px 0px 0px 40px;
}

.cc3_img2{
  border-radius: 0px 0px 40px 0px;
}
.c_img_c:hover{
  scale: 1.1;
}
#contact_us{
  height:470px;
  padding-top: 26px;
  width:100%;
  margin: 0px 5px ;
  background: white;
  border: 0px solid black;
}
.contact{
  color:black;
}
form{
  height:350px;
  width:80%;
  background: white;
  padding: 20px 10px 50px 10px;
  margin-top:30px;
  color: white;
  position: absolute;
  left:8%;
}
.name,.email,.number{
  color: black;
  text-align: left;
  margin: 20px 0px 0px 5px;
  height:40px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px dashed black;
}
fieldset{
  height:90%;
  width:100%;
  border-radius: 20px;
}
button{
  height:40px;
  width:40%;
  margin:40px 15px 30px 10px;
  padding: 0px 0px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px whitesmoke;
}
.reset{
  background: darkgrey;
  color: antiquewhite;
}
.submit{
  background: darkblue;
  border: none;
  color:white;
}
